# Ignora toda a pasta .idea
.idea/*

!.idea/codeStyles
!.idea/codeStyles/*
!.idea/runConfigurations
!.idea/runConfigurations/*

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/misc.xml
.idea/navEditor.xml
.idea/vcs.xml

.gradle/
build/
*/build/

local.properties
.gradle/
.gradle/*

captures/
.externalNativeBuild/
.cxx/

*.apk
*.ap_
*.aab

*.log
*.temp
*.tmp

.DS_Store
Thumbs.db
